<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FindAllFlightsServlet</servlet-name>
  	<display-name>FindAllFlightsServlet</display-name>
  	<description></description>
  	<servlet-class>service.FindAllFlightsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindCityByName</servlet-name>
  	<display-name>FindCityByName</display-name>
  	<description></description>
  	<servlet-class>service.FindCityByName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindAllCities</servlet-name>
  	<display-name>FindAllCities</display-name>
  	<description></description>
  	<servlet-class>service.FindAllCities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindAllAirplaneTypes</servlet-name>
  	<display-name>FindAllAirplaneTypes</display-name>
  	<description></description>
  	<servlet-class>service.FindAllAirplaneTypes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertNewFlight</servlet-name>
  	<display-name>InsertNewFlight</display-name>
  	<description></description>
  	<servlet-class>service.InsertNewFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateFlight</servlet-name>
  	<display-name>UpdateFlight</display-name>
  	<description></description>
  	<servlet-class>service.UpdateFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFlight</servlet-name>
  	<display-name>DeleteFlight</display-name>
  	<description></description>
  	<servlet-class>service.DeleteFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogIn</servlet-name>
  	<display-name>LogIn</display-name>
  	<description></description>
  	<servlet-class>service.LogIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LocaTimeServlet</servlet-name>
  	<display-name>LocaTimeServlet</display-name>
  	<description></description>
  	<servlet-class>service.LocaTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FindAllFlightsServlet</servlet-name>
  	<url-pattern>/FindAllFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindCityByName</servlet-name>
  	<url-pattern>/FindCityByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindAllCities</servlet-name>
  	<url-pattern>/FindAllCities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindAllAirplaneTypes</servlet-name>
  	<url-pattern>/FindAllAirplaneTypes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertNewFlight</servlet-name>
  	<url-pattern>/InsertNewFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateFlight</servlet-name>
  	<url-pattern>/UpdateFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFlight</servlet-name>
  	<url-pattern>/DeleteFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogIn</servlet-name>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LocaTimeServlet</servlet-name>
  	<url-pattern>/LocaTimeServlet</url-pattern>
  </servlet-mapping>
 
</web-app>
